<%= Spree.t('order_mailer.confirm_email.dear_customer') %>
<p><%= Spree.t('order_mailer.confirm_email.instructions') %></p>
<hr/>
<h3><%= Spree.t('order_mailer.confirm_email.order_summary') %></h3>
<table>
  <thead>
    <td>SKU</td>
    <td>Product</td>
    <td>Options</td>
    <td>Price</td>
    <td>Quantity</td>
    <td>Total</td>
  </thead>
<% @order.line_items.each do |item| %>
  <tr>
    <td><%= item.variant.sku %></td>
    <td><%= raw(item.variant.product.name) %></td>
    <td><%= raw(item.variant.options_text) -%></td>
    <td><%= item.single_money %></td>
    <td style="text-align:center"><%=item.quantity%></td>
    <td><%= item.display_amount %></td>
  <tr>
<% end %>
</table>
<hr/>
<%= Spree.t('order_mailer.confirm_email.subtotal', :subtotal => @order.display_item_total) %>
<br/>
<% @order.adjustments.eligible.each do |adjustment| %>
  <%= raw(adjustment.label) %>: <%= adjustment.display_amount %>
<% end %>
<br/>
<strong><%= Spree.t('order_mailer.confirm_email.total', :total => @order.display_total) %></strong>
<p><%= Spree.t('order_mailer.confirm_email.thanks') %></p>

