<fieldset class="no-border-bottom">
  <legend>Customer Details</legend>
  <div class="row twelve columns">
    <div class="alpha two columns">
      Email:
    </div>
    <div class="four columns">
      <%= @order.email %>
    </div>
    <div class="two columns">
      Name:
    </div>
    <div class="omega four columns">
      <%= @order.user.try(:name) %>
    </div>
  </div>

  <div data-hook="bill_address_wrapper" class="alpha six columns">
    <fieldset class="no-border-bottom">
      <legend align="center"><%= Spree.t(:billing_address) %></legend>
      <%= render "spree/admin/shared/address", :address => @order.bill_address %>
    </fieldset>
  </div>

  <div class="omega six columns" data-hook="ship_address_wrapper">
    <fieldset class="no-border-bottom">
      <legend align="center"><%= Spree.t(:shipping_address) %></legend>
      <% if @order.store_pickup? %>
        In-Store pickup selected.<br/>
        <strong>Don't ship!</string>
      <%else%>
        <%= render "spree/admin/shared/address", :address => @order.ship_address %>
      <%end%>
    </fieldset>
  </div>
</fieldset>

